server {
            listen 443 ssl;
            ssl_protocols TLSv1.2 TLSv1.3;
            ssl_certificate /etc/nginx/ssl/NG.crt;
            ssl_certificate_key /etc/nginx/ssl/NG.key;
            
            #root and index and server_name
            root /var/www/html;
            index index.php index.html index.htm;

            location / {
                try_files $uri $uri/ =404;                  # Uniform Resource Identifier
            }
        
            location ~ \.php$ {								# For every php request
                include snippets/fastcgi-php.conf;
                fastcgi_pass wordpress:9000;     			# Redirect all php request to wordpress port 9000
            }
        }
